::before,
::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Black */
  --black-15: hsl(0, 0%, 15%);
  --black-30: hsl(0, 0%, 30%);
  --black-40: hsl(0, 0%, 40%);
  --black-50: hsl(0, 0%, 50%);
  --black-60: hsl(0, 0%, 60%);
  --black-70: hsl(0, 0%, 70%);
  --black-80: hsl(0, 0%, 80%);
  --black-90: hsl(0, 0%, 90%);
  --black-95: hsl(0, 0%, 95%);

  /* Button Background */
  --orange-57: hsl(7, 100%, 57%);
  --purple-25: hsl(300, 100%, 25%);
  --black-100: rgb(100, 100, 100);

  /* Error text */
  --red-45: hsl(9, 100%, 45%);

  /* Orange */
  --orange-10: hsl(8, 29%, 15%);
  --orange-20: hsl(10, 30%, 20%);
  --orange-30: hsl(10, 30%, 30%);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'] {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

main {
  background: var(--black-95);
}

/* loading */
.page-loading-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-loading {
  width: 45px;
  aspect-ratio: 1/1;
  border: 0.8rem solid rgb(39, 39, 39);
  border-top: 0.8rem solid blue;
  border-radius: 50%;

  animation-name: loading;
  animation-duration: 600ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 
============
Landing Page
============ */
.landing-page-navbar-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.landing-page-navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.landing-page-navbar-brand-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.landing-page-navbar-brand-logo {
  max-width: 45px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  background: hsl(0, 0%, 20%);
  padding: 0.3rem
}

.landing-page-navbar-brand-link:focus {
  color: initial
}

.landing-page-navbar-brand-verticla-line {
  border: 1px solid var(--black-80);
  height: 35px;
}

.landing-page-navbar-brand-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  gap: 0.1rem
}

.landing-page-navbar-brand-name-lg-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black-15)
}

.landing-page-navbar-brand-name-sm-text {
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: var(--black-50);
  font-weight: 500;
}

.landing-page-navlinks-toggle-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-30);
  background: none;
  border: none;
  font-size: 1.8rem;
}

.landing-page-navlinks {
  position: absolute;
  z-index: 3;
  top: 0;
  right: -300px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  height: 100vh;
  
  display: grid;
  align-content: start;
  gap: 1.5rem;
  padding: 2rem 0;
  background: hsl(0, 0%, 100%);
  transition: max-width 300ms linear, right 300ms linear;
}

.show-landing-page-nav-links {
  right: 0;
  width: 100%;
  max-width: 250px;
}

.landing-page-hide-navlink-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 1.8rem;
  margin-bottom: 2rem;
}

.landing-page-navlink {
  color: var(--orange-20);
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  padding: 0 2rem;
  border-bottom: 2px solid transparent;
  transition: color 500ms linear, border-bottom 500ms linear;
}

/* Hero section */

.landing-page-hero-wrapper {
  background: #f0e3da;
  padding: 4rem 0;
}

.landing-page-hero-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  align-items: center;
  gap: 2rem;
}

.landing-page-hero-img > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  object-position: right;
  border-radius: 8px;
}

.landing-page-hero-text-wrapper {
  display: grid;
  align-content: start;
  gap: 2rem;
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}

.landing-page-hero-header {
  color: var(--orange-10);
  text-wrap: pretty;
  line-height: 1.2;
  font-size: clamp(2rem, 5vw + 1rem, 3.8rem);
}

.landing-page-hero-paragraph {
  color: var(--orange-20);
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-wrap: pretty;
  font-size: clamp(1.05rem, 1vw + 0.5rem, 1.2rem);
}

.landing-page-join-btn {
  padding: 0.8rem 2rem ;
  text-align: center;
  background: hsl(7, 100%, 54%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  font-weight: 500;
}

/* Main section */
.landing-page-main {
  background: white;
}

.landing-page-topics-container {
  padding: 3rem 0;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

.landing-page-topic-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
}

.landing-page-topic-header {
  text-wrap: pretty;
  color: var(--orange-10);
  line-height: 1;
  font-size: clamp(2rem, 5vw + 1rem, 2.6rem);
}

.landing-page-topics {
  display: grid;
  align-self: start;
  gap: 2rem;
}

.landing-page-topic {
  display: grid;
  align-content: stretch;
  gap: 1rem;
}

.landing-page-topic-image {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.landing-page-topic-text-container {
  display: grid;
  align-content: stretch;
  gap: 1rem;
}

.landing-page-topic-name {
  color: var(--orange-10);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.landing-page-topic-description {
  letter-spacing: 0.07rem;
  color: var(--orange-20);
  line-height: 1.5;
  text-wrap: pretty;
}

.landing-page-topic-read-more {
  color:#ff3d24;
  text-decoration:underline;
  letter-spacing: 0.05rem;
  margin-left: 0.3rem;
}

.landing-page-topic-post-count {
  display: flex;
  align-items: start;
  gap: 0.3rem;
  color: var(--black-60);
}

.landing-page-topic-num-of-post {
  color: var(--black-70);
  font-size: 1.2rem;
}

.landing-page-topic-total-post-count {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.landing-page-topic-see-all-forums-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
}

.landing-page-topic-see-all-forums {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ff452d;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  outline: 2px solid #ff452d;
  font-weight: 500;
}
/* end */

/* Landing page posts */
.landing-page-posts-container {
  background: #f0e3da;
  padding: 3rem 0;
}

.landing-page-posts-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
}

.landing-page-post-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
}

.landing-page-posts-header {
  text-wrap: pretty;
  color: var(--orange-10);
  text-align: center;
  line-height: 1;
  font-size: clamp(2rem, 5vw + 1rem, 2.6rem);
}

.landing-page-posts {
  display: grid;
  align-content: start;
  gap: 2rem;
}

.landing-page-post {
  position: relative;
  display: grid;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
}

.landing-page-post-image-container {
  border-radius: 8px;
}

.landing-page-post-image{
  width: 100%;
  height: 100;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.landing-page-post-color-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,
   rgb(0, 0, 0), 
   rgba(0, 0, 0, 0.6),
   rgba(0, 0, 0, 0)
   );
   border-radius: 8px;
}

.landing-page-post-text-content {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: end;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

.landing-page-post-title {
  color: hsl(0, 0%, 100%);
  line-height: 1.3;
  font-size: clamp(1.3rem, 1vw + 1rem , 1.8rem);
  font-weight: 600;
}

.landing-page-post-content {
  letter-spacing: 0.07rem;
  color: hsl(0, 0%, 90%);
  line-height: 1.5;
  text-wrap: pretty;
}

.landing-page-post-read-more {
  color:#ff7b6a;
  text-decoration:underline;
  letter-spacing: 0.05rem;
  margin-left: 0.3rem;
}

.landing-page-post-like {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.landing-page-post-like-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: var(--black-80);
}

.landing-page-post-clap {
  font-size: 1.2rem;
}

.landing-page-post-like-count,
.landing-page-post-like-text {
  font-size: 0.9rem;
}

.landing-page-post-num-of-replies-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--black-80);
}

.landing-page-post-num-of-post {
  font-size: 1.1rem;
}

.landing-page-post-reply-count,
.landing-page-post-reply-text {
  font-size: 0.9rem;
}

.landing-page-post-see-all-posts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  text-align: center;
}

.landing-page-post-see-all-posts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ff381e;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  outline: 2px solid #ff381e;
  font-weight: 500;
}
/* end */

.bg-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.700);
}

.hide-bg-overlay {
  display: none;
}

@media screen and (min-width: 500px) {

  .landing-page-post-image{
    aspect-ratio: 4/3;
  }

  .landing-page-post-title {
    font-size: clamp(1.3rem, 3vw + 1rem , 1.8rem);
  }
}

@media screen and (min-width: 600px) {

  .landing-page-navlinks-toggle-btns {
    display: none;
  }

  .landing-page-hide-navlink-btn {
    display: none;
  }

  .landing-page-navlinks {
    transform: none;
    position: static;
    top: initial;
    right: initial;
    width: initial;
    max-width: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    background: transparent;
    backdrop-filter: none;
    height: initial;
  }

  .landing-page-navlink {
    padding: 0;
  }

  .landing-page-login-btn {
    border: 1px solid hsl(7, 100%, 54%);
    padding: 0.4rem 2rem;
    border-radius: 5px;
    background: var(--orange-57);
    color: white;
  }

  .landing-page-post-text-content {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 676px) {

  .landing-page-topics-container {
    padding: 4rem 0;
    padding-bottom: 5rem;
  }

  .landing-page-topics {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 3rem
  }

  .landing-page-posts-container {
    padding: 4rem 0;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 835px) {

  .landing-page-posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .landing-page-post-see-all-posts-container,
  .landing-page-topic-see-all-forums-container {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .landing-page-hero-container {
    align-items: center;
    grid-template-columns: calc(42% - 40px) calc(58% - 40px);
    gap: 5rem;
  }

  .landing-page-hero-img {
    order: 2
  }

  .landing-page-hero-text-wrapper {
    text-align: start;
    max-width: initial;
    margin: 0;
  }

  .landing-page-hero-header {
    font-size: clamp(2rem, 5vw + 1rem, 2.3rem);
  }

  .landing-page-join-btn {
    justify-self: start;
    padding: 0.7rem 3rem;
  }

  .landing-page-already-registered {
    justify-content: start;
  }
}

@media screen and (min-width: 1100px) {

  .landing-page-hero-header {
    font-size: clamp(2rem, 5vw + 1rem, 3.1rem);
  }
}

@media screen and (min-width: 1200px) {

  .landing-page-hero-img > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
    object-position: right;
  }

  .landing-page-hero-header {
    font-size: clamp(2rem, 5vw + 1rem, 3.4rem);
  }
}


/* 
======
NAVBAR 
====== 
*/
.navbar-container{
  box-shadow: 0px 3px 6px -1px rgb(206, 206, 206);
}

.navbar-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.navbar-brand-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-brand-logo {
  max-width: 45px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  background: rgb(104, 0, 104);
  padding: 0.3rem
}

.navbar-brand-link:focus {
  color: initial
}

.navbar-brand-verticla-line {
  border: 1px solid rgb(187, 187, 187);
  height: 35px;
}

.navbar-brand-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  gap: 0.1rem
}

.navbar-brand-name-lg-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: black
}

.navbar-brand-name-sm-text {
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  color: rgb(116, 116, 116);
  font-weight: 500;
}

.navbar-navlinks-toggle-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(43, 43, 43);
  background: none;
  border: none;
  font-size: 1.4rem;
}

/* Large navlinks */
.lg-navbar-navlinks {
  display: none;
}
/* end */

.navbar-navlinks {
  position: absolute;
  z-index: 3;
  top: 90px;
  right: -300px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  padding: 1.5rem 0;

  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: rgb(238, 238, 238);
  transition: max-width 300ms linear, right 300ms linear;
}

.navbar-show-navlinks {
  right: 0;
  width: 100%;
  max-width: 300px;
}

.lg-navbar-user-account {
  display: none;
}

.navbar-user-account {
  width: 100%;
  display: grid;
}

.navbar-user-account-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.nav-bar-user-image  {
  display: flex; 
  gap: 0.5rem;
  align-items: center;
}

.nav-bar-user-image > img {
  width: 50px;
  display: block;
  height: auto;
}

.navbar-user-useranme {
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar-user-account-menu {
  display: grid;
  gap: 1.5rem;
  background: rgb(212, 212, 212);

  max-height: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 100ms linear;
}

.show-navbar-user-account-menu {
  max-height: 500px;
  padding: 1.5rem 2rem;
  opacity: 1;
}

.navbar-user-account-menu > 
.navbar-navlink{
  justify-self: start;
  margin-left: 0;
  color: rgb(0, 0, 0);
}

.navbar-user-menu-tobble-btn {
  background: none;
  border: none;
  font-size: 1rem;
  color: rgb(88, 88, 88);
}

.navbar-navlink {
  color: rgb(0, 0, 0);
  letter-spacing: 0.05rem;
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 500;
}

.navbar-active-navlink {
  color: rgb(240, 62, 8) !important;
  font-weight: 600;
  border-bottom: 2px solid rgb(240, 62, 8) !important;
}

@media screen and (min-width: 700px) {
 
  .navbar-navlinks-toggle-btns {
    display: none;
  }

  .navbar-navlinks {
    display: none;
  }

  .lg-navbar-navlinks {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar-navlink {
    padding: 0;
    margin-left: 0;
    border-bottom: 2px solid transparent !important;
    transition: border-bottom 500ms linear;
  }

  .navbar-active-navlink {
    color: rgb(240, 62, 8) !important;
    font-weight: 600;
    border-bottom: 2px solid rgb(240, 62, 8) !important;
  }

  @media (hover) {
    .navbar-navlink:hover {
      color: rgb(240, 62, 8);
      border-bottom: 2px solid rgb(240, 62, 8) !important;
    }
  }

  .navbar-user-account {
    display: none;
  }

  .lg-navbar-user-account {
    width: initial;
    display: grid;
    gap: 1rem;
  }

  .navbar-user-account-image-container {
    padding: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .nav-bar-user-image > img {
    width: 35px;
    display: block;
    height: auto;
  }

  .navbar-user-account-menu {
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 200px;
    border-radius: 5px;
  }
}

/* 
======
Topics
====== */
.bg-img {
  min-height: 55vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
              url('./images/hero_img.webp');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.topics-error-message {
  color: var(--red-45);
  letter-spacing: 0.07rem;
  font-weight: 500;
  width: 90%;
  max-width:1200px;
  margin: 0 auto;
  padding-top: 2rem;
}

.topics-main-container {
  display: flex;
  align-items: start;
  gap: 5rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  padding-top: 2rem;
}

.topics-container {
  display: grid;
  gap: 2rem;
}

.topics-header-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem
}

.topics-main-container__header {
  line-height: 1;
  text-wrap: balance;
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  color: var(--black-15);
  font-weight: 600;
  padding-bottom: 0.3rem;
  text-wrap: balance;
}

.topics-sub-header {
  font-weight: 500;
  line-height: 1.2;
  color: var(--black-30);
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  text-wrap: pretty;
}

.topic {
  display: grid;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}

.topic-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.topic-container__text-container {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.topic-title-container {
  display: grid;
  align-content: start;
  gap: 0.3rem;
}

.topic-name {
  color: var(--black-15);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.topic-post-count {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--black-60);
  font-size: 0.9rem;
  font-weight: 500;
}

.topic__num-of-post {
  color: var(--black-70);
}

.topic-total-post-count {
  padding-bottom: 0.1rem;
}

.topic-total-post-count-text {
  padding-bottom: 0.4rem;
}

.topic-description {
  letter-spacing: 0.07rem;
  color: var(--black-30);
  line-height: 1.5;
  text-wrap: pretty;
}

.topic_buttons {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.topic-see-all-post-btn {
  background: var(--orange-57);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 1rem;
}

.topic_no-post-to-see {
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  background: var(--black-100);
  border: none;
}

/* Topics Side Bar Recent Posts */
.topics-side-bar-recent-posts {
  display: none;
  max-width: 300px;
  background: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 1.3rem;
}

.topics-side-bar__header {
  font-weight: 600;
  color: var(--black-15);
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
}

.topic-side-bar__position-absolute-container {
  position: relative;
}

.topic-side-bar_image-container {
  position: relative;
}

.topics-side-bar_image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.topic-side-bar-image-background-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.200);
}

.topics-side-bar__post {
  display: grid;
  align-items: start;
  gap: 0.5rem;
  background: var(--black-95);
  padding: 1rem;
  border-radius: 8px;
}

@media (hover) {
  .topics-side-bar__post:hover {
    outline: 2px solid var(--black-80);
  }
}

.topics-side-bar__post-text-content {
  display: grid;
  align-items: start;
  gap: 0.5rem;
}

.topics-side-bar__author-and-date {
  display: grid;
}

.topics-side-bar__post-author {
  font-weight: 500;
  font-size: 0.9rem;
  font-size: 0.9rem;
  color: var(--black-30);
}

.topics-side-bar__date-posted {
  color: var(--black-50);
  font-size: 0.9rem;
}

.topics-side-bar__post-title {
  color: var(--black-15);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  font-weight: 600;
  text-wrap: balance;
}

.topics-side-bar__post-content {
  letter-spacing: 0.05rem;
  color: var(--black-30);
  font-size: 0.9rem;
  text-wrap: pretty;
}

.topics-side-bar__post-content > span {
  color: var(--orange-57)
}

.topics-side-bar__date-and-like {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.topics-side-bar__post-like-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.topics-side-bar_like-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.topics-side-bar__post-like {
  color: var(--black-60);
  font-size: 1rem;
}

.topics-side-bar__like-count,
.topics-side-bar__like-text {
  font-size: 0.9rem;
  color: var(--black-50);
}

.topics-side-bar__num-of-replies-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.topics-side-bar__num-of-post {
  color: var(--black-60);
  font-size: 0.9rem;
}

.topics-side-bar__reply-count,
.topics-side-bar__reply-text {
  font-size: 0.9rem;
  color: var(--black-50);
}

.topic-side-bar__num-of-post-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .topic {
    display: flex;
    gap: 2rem
  }

  .topic-image {
    width: 200px;
  }

  .topic_buttons {
    flex-direction: row;
    align-items: center;
  }

  .topic-see-all-post-btn,
  .topic_no-post-to-see {
    padding: 0.4rem 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .topics-container {
    flex: 2;
  }
  .topics-side-bar-recent-posts {
    flex: 1;
    display: grid;
    gap: 1rem;
  }
}

/* 
=====
Posts
===== */

.post-list-message {
  color: hsl(128, 100%, 30%);
  letter-spacing: 0.07rem;
  font-weight: 500;
  width: 90%;
  max-width:1200px;
  margin: 0 auto;
  padding-top: 2rem;
}

.post-list-main-container {
  display: flex;
  align-items: start;
  gap: 5rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.post-container {
  display: grid;
  gap: 2rem;
}

.post-list__header {
  line-height: 1;
  text-wrap: balance;
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  color: var(--black-15);
  font-weight: 600;
  padding-bottom: 0.3rem;
  text-wrap: balance;
}

.post-container__post-list-create-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}

.post-container__create-post-image-container {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-container__create-post-image {
  width: 50px;
  height: auto;
  display: block;
}

.post-container__create-post-text {
  flex: 2;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  border-radius: 25px;
  color: var(--black-40);
  border: 1px solid var(--black-80);
  cursor: pointer;
  transition: background 200ms linear;
}

@media (hover) {
  .post-container__create-post-text:hover {
    background: var(--black-90);
  }
}

.post-container__posts {
  display: grid;
  gap: 2rem;
}

.post-container__post {
  position: relative;
  display: grid;
  align-items: start;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}

.post-container__post-image-container {
  position: relative;
}

.post-container__post-image{
  width: 100%;
  height: 100;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.post-container__post-image-color-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.300);
}

.post-container__post-text-content {
  display: grid;
  align-items: start;
  gap: 0.8rem;
}

.post-container__author-and-date {
  display: grid;
}

.post-container__post-author {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--black-30);
}

.post-container__date-posted {
  color: var(--black-50);
  font-size: 0.9rem;
}

.post-container__date-and-like {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.post-container__post-like {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.05rem;
  background: none;
  border: none;
}

.post-like-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.post-like {
  color: var(--black-60);
  font-size: 1rem;
  transition: 300ms color linear;
}

.post-like-count,
.post-like-text {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  color: var(--black-70);
}

.post-container__num-of-replies-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.post-container__num-of-post {
  color: var(--black-60);
  font-size: 1rem;
}

.post-reply-count,
.post-reply-text {
  font-size: 0.9rem;
  color: var(--black-70);
}

.post-container__post-title {
  color: var(--black-15);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.post-container__post-content {
  letter-spacing: 0.07rem;
  color: var(--black-30);
}

.post-container__post-read-more-btn {
  align-self: end;
  padding: 0.6rem 1rem;
  background: var(--orange-57);
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* Post List Side-bar Post Topics */
.post-list-side-bar-topics {
  display: none;
  max-width: 300px;

  padding: 1.3rem;
  border-radius: 8px;
  background: white;
}

.post-list-side-bar-topics__header {
  font-weight: 600;
  color: rgb(30, 30, 30);
  font-size: 1.3rem;
  letter-spacing: 0.03rem;
}

.post-list-side-bar-topics__topic {
  display: grid;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgb(245, 245, 245);
}

@media (hover) {
  .post-list-side-bar-topics__topic:hover {
    outline: 2px solid rgb(201, 201, 201);
  }
}

.post-list-side-bar-topics__topic-title-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post-list-side-bar-topics__topic-name {
  color: rgb(61, 61, 61);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.post-list-side-bar__topic-post-count {
  display: flex;
  align-items: center;
  gap: 0.3rem
}

.post-list-side-bar__num-of-post {
  font-size: 0.9rem;
  color: rgb(158, 158, 158);

}

.post-list-side-bar__post-count {
  color: rgb(160, 160, 160);
  font-size: 0.9rem;
  font-weight: 500;
}

.post-list-side-bar__text {
  color: rgb(160, 160, 160);
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
}

.post-list-side-bar-topics__topic-post-count {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: rgb(160, 160, 160);
  font-size: 1rem;
  font-weight: 500;
}

.post-list-side-bar-topics__topic-description {
  letter-spacing: 0.05rem;
  color: rgb(99, 99, 99);
  font-size: 0.9rem;
  text-wrap: pretty;
}

.post-list-side-bar-topics__topic-description > span {
  color: rgb(255, 30, 0)
}

.post-list-side-bar-topics__topic-see-all-post-btn {
  align-self: end;
  color: black;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 470px) {
  .post-container__post-list-create-post {
    padding: 1rem;
  }
  
  .post-container__create-post-image {
    width: 50px;
  }
  
  .post-container__create-post-text {
    font-size: 1rem;
  }
  
  .post-container__create-post-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
   
  .post-container__create-post-image {
    width: 60px;
  }
}

@media screen and (min-width: 700px) {
  .post-container__post {
    display: flex;
    gap: 2rem
  }

  .post-container__post-image{
    width: 200px;
  }

  .post-container__post-read-more-btn {
    justify-self: start;
    padding: 0.4rem 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .post-container {
    flex: 2;
  }

  .post-list-side-bar-topics {
    display: grid;
    gap: 1rem;
    flex:  1;
  }
}


/* 
===========
Post Detail
=========== */

.post-detail-container {
  min-height: 100vh;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  align-content: start;
  gap: 2rem;
  padding: 2rem 0;
}

.post-detail-container__back-to-posts {
  justify-self: start;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.post-detail-container__back-to-posts > a {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(226, 80, 26);
  border-bottom: 3px solid orangered;
  padding-bottom: 0.3rem;
  line-height: 1;
  text-transform: capitalize;
}

.post-detail-container__post-detail {
  position: relative;
  display: grid;
  align-items: start;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px -1px rgb(170, 170, 170);
}

.post-detail-container__text-contents {
  display: grid;
  align-content: start;
  gap: 0.8rem;
}

.post-detail-container__post-image-container {
  position: relative;
}

.post-detail-container__post-image{
  width: 100%;
  height: 100;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.post-detail-container__post-image-color-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.300);
}

.post-detail-container__author-and-date {
  display: grid;
  gap: 0.2rem
}

.post-detail-container__post-author {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(75, 75, 75);
}

.post-detail-container__date-posted {
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
}

.post-detail-container__post-title {
  color: rgb(44, 44, 44);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.post-detail-container__post-content {
  letter-spacing: 0.07rem;
  color: rgb(59, 59, 59);
}

.post-detail-container__like-and-reply {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-detail-container__post-like {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: 100ms color linear;
}

.post-detail-like {
  color: rgb(131, 131, 131);
  font-size: 1.2rem;
  
}

@media (hover) {
  .post-detail-container__post-like:hover {
    color: rgb(206, 16, 206);
    background: rgb(255, 214, 255)
  }
  .post-detail-reply:hover {
    color: rgb(206, 16, 206);
    background: rgb(253, 228, 253)
  }
  .post-detail-edit:hover {
    color: rgb(206, 16, 206);
    background: rgb(253, 228, 253)
  }
}

.post-detail-like-count,
.post-detail-like-count-text {
  font-size: 0.9rem;
  color: rgb(143, 143, 143);
  padding-top: 0.2rem
}

.post-detail-edit {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.post-detail-edit-btn {
  font-size: 1rem;
  color: rgb(143, 143, 143);
}

.post-detail-edit-text {
  font-size: 0.9rem;
  color: rgb(143, 143, 143);
}

.post-detail-reply {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.05rem;
  color: rgb(131, 131, 131);
  transition: 100ms color linear;
}

.post-detail-reply-text {
  font-size: 0.9rem;
}

.reply-form-container {
  display: grid;
  padding: 1.5rem;
  border-radius: 8px;
  background: white;
  box-shadow: 3px 3px 10px -1px rgb(170, 170, 170);
}

.reply-form {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.reply-form-textarea {
  resize: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  border: 1px solid lightgray;
}

.reply-form-textarea:focus {
  outline: 2px solid rgb(170, 197, 255);
  border: 1px solid transparent
}

.reply-btns {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 0.5rem
}
.reply-btn-submit {
  padding: 0.4rem 1rem;
  background: orangered;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border: none;
}

.reply-btn-cancel {
  padding: 0.4rem 1rem;
  background: rgb(71, 71, 71);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border: none;
}

.replied-posts {
  display: grid;
  gap: 1rem;
}

.replied-post {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 6px -1px rgb(170, 170, 170);
}

.replied-post-user-date {
  display: grid;
  gap: 0.5rem
}

.replied-post-user-image-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.replied-post-user-image {
  width: 35px;
  height: auto;
  display: block;
}

.replied-post-user {
  color: rgb(32, 32, 32);
  font-weight: 500;
  font-size: 0.9rem;
}

.replied-post-date-posted {
  color: rgb(70, 70, 70);
  font-size: 0.9rem;
}

.replied-post-content {
  line-height: 1.6;
  letter-spacing: 0.07rem;
  color: rgb(70, 70, 70);
}

.no-replied-post-container {
  display: grid;
  gap: 1rem;
}

.no-replied-post-container > h4 {
  color: var(--black-30);
  font-weight: 600;
  text-align: center;
  line-height: 1;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}

@media screen and (min-width: 700px) {
  .post-detail-container__post-detail {
    display: flex;
    align-items: start;
    gap: 2rem
  }

  .post-detail-container__post-image{
    width: 300px;
  }
}

/* 
========
My Posts
======== */
.my-posts-main-container {
  display: grid;
  align-content: start;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

.my-posts-container {
  display: grid;
  gap: 2rem;
}

.my-posts-container__message {
  color: rgb(11, 148, 11);
  letter-spacing: 0.07rem;
  font-weight: 600;

}

.my-posts-container__posts {
  display: grid;
  gap: 2rem;
}

.my-posts-container__post {
  position: relative;
  display: grid;
  align-items: start;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px -1px rgb(170, 170, 170);
}

.my-posts-container__post-image-container {
  position: relative;
}

.my-posts-container__post-image{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.my-posts-container__post-image-color-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.300);
}

.my-posts-container__post-text-content {
  display: grid;
  align-items: start;
  gap: 0.8rem;
}

.my-posts-container__author-and-date {
  display: grid;
}

.my-posts-container__post-author {
  font-weight: 500;
  font-size: 1.05rem;
  color: rgb(75, 75, 75);
}

.my-posts-container__date-and-like {
  display: grid;
  align-content: start;
  gap: 0.5rem;
}

.my-posts-container__date-posted {
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
}

.my-posts-container__post-like {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.my-posts-container__num-of-post {
  color: rgb(158, 158, 158);
  font-size: 1rem;
}

.my-posts-container__post-title {
  color: rgb(44, 44, 44);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-wrap: balance;
}

.my-posts-container__post-content {
  letter-spacing: 0.07rem;
  color: rgb(59, 59, 59);
  text-wrap: pretty;
}

.my-posts-container__post-topic {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
  background: rgb(148, 0, 148);
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: 0.05rem;
}

.my-posts-container__post-topic > i {
  font-size: 0.8rem;
  margin-top: 0.1rem
}
.my-posts-container__btns {
  align-self: end;
  display: grid;
  gap: 0.5rem;
  margin-top: 0.7rem
}
.my-posts-container__post-update {
  padding: 0.8rem 1rem;
  background: orangered;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

.my-posts-container__post-delete {
  padding: 0.8rem 1rem;
  background: rgb(78, 78, 78);
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .my-posts-container__post {
    display: flex;
    gap: 2rem;
  }

  .my-posts-container__post-image{
    width: 300px;
  }
  
  .my-posts-container__btns {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }

  .my-posts-container__post-delete,
  .my-posts-container__post-update {
    padding: 0.6rem 1rem;
    margin-top: 0rem;
  }
}

/* 
===========
My Comments
=========== */
.my-comments-container {
  min-height: 100vh;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  display: grid;
  gap: 1rem;
  align-content: start;
  padding: 2rem 0;
}

.my-comments-container__my-comment {
  display: grid;
  gap: 1rem;
  background: white;
  padding: 1.3rem;
  border-radius: 8px;
}

.my-comments__date-replied {
  color: rgb(100, 100, 100);
  font-size: 0.9rem;
}

.my-comments__post_detail-link {
  color: rgb(61, 61, 61);
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem
}

.my-comments__post_detail-link > a {
  text-decoration: underline;
  color: rgb(114, 0, 114);
}

.my-comments__post_author {
  color: rgb(61, 61, 61);
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem
}

.my-comments__content {
  letter-spacing: 0.07rem;
  color: rgb(61, 61, 61);
  line-height: 1.6;
}

.my-comments-container__buttons {
  display: flex;
  gap: 0.5rem
}
.my-comments__update-button,
.my-comments__delete-button {
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  border: none;
  background: rgb(255, 83, 21)
}

.my-comments__delete-button {
  background: rgb(80, 80, 80)
}

.update-comment-form-container {
  display: grid;
  margin-top: 1rem;
}

.update-comment-form {
  display: grid;
  gap: 1rem;
}

.update-comment-textarea {
  width: 100%;
  resize: none;
  border-radius: 8px;
  padding: 1.3rem;
  font-size: 1.05rem;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  background: rgb(235, 235, 235);
  border: none;
}

.update-comment-form-buttons-container {
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}

.update-comment-submit-btn {
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  background: rgb(255, 83, 20);
  border-radius: 5px;
  color: white;
  border: none;
}

.update-comment-cancel-btn {
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  background: rgb(61, 61, 61);
  border-radius: 5px;
  color: white;
  border: none;
}
/* 
===========
Create Post
===========
 */
 .create-post-container {
  padding: 2rem 0;
 }

 .create-post-container__redirect-btn {
  padding: 2rem 0;
  padding-top: 0;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.create-post-container__redirect-btn > i {
  color: var(--black-30);
  font-size: 1rem;
}

.create-post-container__redirect-btn > a {
  color: var(--black-30);
  font-size: 1rem;
}

 .create-post__header {
  letter-spacing: 0.05rem;
  color: rgb(39, 39, 39);
  font-weight: 600;
  font-size: 1.4rem;
}

.create-post__form-container {
  display: grid;
  align-self: start;
  gap: 1.5rem;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1.3rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 10px -1px rgb(160, 160, 160);
}

.create-post__form {
  display: grid;
  gap: 0.8rem;
  align-content: start;
}

.create-post__error {
  color: rgb(255, 17, 0);
  letter-spacing: 0.07rem;
  font-weight: 500;
  font-size: 0.95rem;
}

.create-post__img-input-label {
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.9rem;
  padding: 0.7rem;
  line-height: 1;
  border-radius: 5px;
  color: white;
  letter-spacing: 0.05rem;
  background: rgb(110, 9, 177);
}

.create-post__label {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-top: 0.8rem;
  color: black;
  line-height: 1;
}

.create-post__select {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  background: none;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  border: 1px solid lightgray;
}

.create-post__option[value=""] {
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
}

.create-post__input,
.create-post__textarea {
  padding: 0.7rem 1rem;
  border: 1px solid lightgray;
  letter-spacing: 0.05rem;
  border-radius: 5px;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  resize: none;
}

.create-post__textarea {
  letter-spacing: 0.07rem;
  line-height: 1.6;
}

.create-post__img-input,
.create-post__input{
  width: 100%;
  box-sizing: border-box;
}

.create-post__btn {
  padding: 0.9rem 1rem;
  letter-spacing: 0.05rem;
  color: white;
  background: orangered;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.create-post__select:focus,
.create-post__input:focus,
.create-post__textarea:focus {
  outline: 2px solid rgb(162, 162, 255);
  border: 1px solid transparent;
}

/*
===========
TOPIC POSTS
=========== */
.topic-posts-container__redirect-btn {
  padding: 2rem 0;
  padding-bottom: 0;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topic-posts-container__redirect-btn > i {
  color: var(--black-30);
  font-size: 1rem;
}

.topic-posts-container__redirect-btn > a {
  color: var(--black-30);
  font-size: 1rem;
}

.topic-posts-container {
  padding: 2rem 0;
  min-height: 100vh;
}

.topic-posts-navbar {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.topic-posts-navbar__toggle-btns-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topic-posts-navbar__nav-bar-text {
  letter-spacing: 0.05rem;
  color: var(--black-40);
  font-size: 1rem;
}

.topic-posts-navbar__toggle-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 3rem; */
  width: 200px;
  padding: 0.4rem 0.5rem;
  border: 1px solid var(--black-80);
  border-radius: 5px;
}

.topic-change-input {
  letter-spacing: 0.05rem;
  font-size: 1rem;
  color: var(--black-15);
}

.topic-post-toggle-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--black-40)
}

.topic-posts-navbar__topics-btns {
  position: absolute;
  z-index: 3;
  top: 45px;
  right: 0;
  width: 200px;
  display: grid;
  padding: 0.8rem 0;
  border-radius: 8px;
  background: white;
  box-shadow: 3px 3px 10px -1px rgb(182, 182, 182);
}

.topic-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  font-size: 1rem;
  letter-spacing: 0.07rem;
  text-align: center;
  color: rgb(39, 39, 39);
}

.topic-posts-container__posts {
  display: grid;
  gap: 2rem;
  align-content: start;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
}

.topic-posts-container__post {
  position: relative;
  display: grid;
  align-items: start;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: 3px 3px 6px -1px rgb(170, 170, 170);
  transition: transform 200ms linear;
}

.topic-posts-container__post-image-container {
  position: relative;
}

.topic-posts-container__post-image{
  width: 100%;
  height: 100;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.topic-posts-container__post-image-color-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.300);
}

.topic-posts-container__post-text-content {
  display: grid;
  align-items: start;
  gap: 0.8rem;
}

.topic-posts-container__author-and-date {
  display: grid;
}

.topic-posts-container__post-author {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(75, 75, 75);
}

.topic-posts-container__date-posted {
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
}

.topic-posts-container__date-and-like {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.topic-posts-container__post-like {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.05rem;
  background: none;
  border: none;
}

.post-like-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.post-like {
  color: rgb(131, 131, 131);
  font-size: 1rem;
  transition: 300ms color linear;
}

.post-like-count,
.post-like-text {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  color: rgb(143, 143, 143);
}

.topic-posts-container__num-of-replies-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.topic-posts-container__num-of-post {
  color: rgb(158, 158, 158);
  font-size: 1rem;
}

.post-reply-count,
.post-reply-text {
  font-size: 0.9rem;
  color: rgb(143, 143, 143);
}

.topic-posts-container__post-title {
  color: rgb(44, 44, 44);
  line-height: 1.4;
  letter-spacing: 0.04rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.topic-posts-container__post-content {
  letter-spacing: 0.07rem;
  color: rgb(59, 59, 59);
}

.topic-posts-container__post-read-more-btn {
  align-self: end;
  padding: 0.6rem 1rem;
  background: orangered;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.topic-posts-container__post-topic {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 16px;
  background: rgb(148, 0, 148);
  padding: 0.3rem 0.5rem;
  color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;

  display: flex;
  gap: 0.5rem;
  align-items: center;
  letter-spacing: 0.05rem;
}

.topic-posts-container__post-topic > i {
  font-size: 0.8rem;
  margin-top: 0.1rem
}

@media screen and (min-width: 700px) {
  .topic-posts-container__post {
    display: flex;
    gap: 2rem
  }

  .topic-posts-container__post-image{
    width: 200px;
  }

  .topic-posts-container__post-read-more-btn {
    justify-self: start;
    padding: 0.4rem 1rem;
  }
}

/* 
=============
USER REGISTER
============= */
.user-register-main-container {
  min-height: 100vh;
  padding: 5rem 0;
}

.user-register {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  padding: 1.3rem;
  background: white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px -1px rgb(190, 190, 190);;
}

.user-register__header {
  letter-spacing: 0.05rem;
  color: rgb(39, 39, 39);
  font-weight: 600;
  font-size: 1.5rem;
}

.user-register__form {
  display: grid;
  gap: 1.2rem;
}

.user-register__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  border: 1px solid lightgray;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border-radius: 5px;
}

.user-register__input:focus {
  outline: 2px solid rgb(164, 164, 255);
  border: 1px solid transparent
}

.user-register__btn {
  padding: 0.8rem 1rem;
  background: orangered;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.05rem;
}

.user-register__already-registered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
}

.user-register__already-registered > p {
  letter-spacing: 0.07rem;
  color: rgb(87, 87, 87);
  font-weight: 500;
}

.user-register__already-registered > a {
  color: purple;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-decoration: underline;
}

.user-register__error {
  color: rgb(255, 17, 0);
  letter-spacing: 0.07rem;
  font-weight: 500;
  font-size: 0.95rem;
}

/* 
==========
USER LOGIN
========== */
.user-login-main-container {
  min-height: 100vh;
  padding: 5rem 0;
}

.user-login {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  padding: 1.3rem;
  background: white;
  border-radius: 8px;
  box-shadow: 3px 3px 10px -1px rgb(190, 190, 190);;
}

.user-login__header {
  letter-spacing: 0.05rem;
  color: rgb(39, 39, 39);
  font-weight: 600;
  font-size: 1.5rem;
}

.user-login__message {
  color: green;
  letter-spacing: 0.07rem;
  font-weight: 600;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.user-login__error-message {
  color: rgb(224, 52, 8);
  letter-spacing: 0.07rem;
  font-weight: 600;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.user-login__form {
  display: grid;
  gap: 1.2rem;
}

.user-login__input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  border: 1px solid lightgray;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border-radius: 5px;
}

.user-login__input:focus {
  outline: 2px solid rgb(164, 164, 255);
  border: 1px solid transparent
}

.user-login__btn {
  padding: 0.8rem 1rem;
  background: orangered;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.05rem;
}

.user-login__not-yet-registered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.5rem;
}

.user-login__not-yet-registered > p {
  letter-spacing: 0.07rem;
  color: rgb(87, 87, 87);
  font-weight: 500;
}

.user-login__not-yet-registered > a {
  color: purple;
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-decoration: underline;
}


/* 
======
FOOTER
====== */
.footer-container {
  height: 50vh;
  background: #886854
}









